/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    padding: 20px;
    background-image: url('./assets/images/back2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the background covers the full height of the page */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  a {
    text-decoration: none;
    color:rgb(41, 221, 32);
    margin-top: 20px;
    display: inline-block;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Page-specific styles */
  .home {
    text-align: center;
  }
  
  .add-task {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-task input,
  .add-task textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .add-task button {
    padding: 10px 20px;
    background-color:rgb(21, 243, 73);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-task button:hover {
    background-color:rgb(76, 179, 72);
  }
  
  /* Centering content */
  .App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Ensure text is centered */
  }
  
  .container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Optional, for better contrast with background */
    border-radius: 10px; /* Optional, for rounded corners */
    width: 80%; /* Optional, control the width */
    max-width: 600px; /* Optional, control max width */
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  body{
    
  }